<a href="https://colab.research.google.com/github/biffsocko/SUNY_Poly_NCS590/blob/main/TomMurphy_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1- Print statements

print('Hellow world')

Hellow world

In [2]:
#2- Work with variable

# to create/declare a variable just write the varibale name followed by equal sign followed by the value that you want to stote or assign to this variable
#on example

age=12


# to print the value of this variable, we can write

print(age)

#or
print("Your age is: ", age)

12
Your age is:  12

In [3]:
#3- Edit the value of a variable

#in the previous cell, we have assigned age to 20. Let's change it and print agaian

age=age+2
print(age)

14

In [4]:
#4-Data type

# a variable can hold any type of data. it can hold integers, float numbers, booleans, strings, etc.
# for example, we can have another variable here called name
name="john"
age= 2
attendance=True


#type()
type(name)

str

In [5]:
#5- Data type conversion

#there are 4 built-in functions that can be used for data type conversion

# int()
# float()
# bool()
# str()

x="5"
y=6

#x+y

print(int(x)+y)
print(x+str(y))

print("mahmoud "+"Badr")

11
56
mahmoud Badr

In [6]:
#6- Take an input from user

imput_number=input(" enter a number and I will give the double of this number")
number=int(imput_number)
number+=number

print(number)

 enter a number and I will give the double of this number5
10

In [7]:
#7- Mathematical/Arithmetic operations

#declare two variable
x=5
y=3

#addition
z=x+y
print("the result of addition is: ", z)

#subtraction
z=x-y
print("the result of subtraction is: ", z)

#multiplication
z=x*y
print("the result of multiplication is: ", z)

#division
z=x/y
print("the result of division is: ", z)

#modulus
z=x%y
print("the result of modulus is: ", z)

#exponentiation
z=x**y
print("the result of exponentiation is: ", z)

the result of addition is:  8
the result of subtraction is:  2
the result of multiplication is:  15
the result of division is:  1.6666666666666667
the result of modulus is:  2
the result of exponentiation is:  125

In [8]:
#8- Comparison operations

#they can be used to compare between two variables
# the result from the comparison opeartion or the boolean expression is a boolean value. it can be either True or False

print(x>y)
print(x>=y)
print(x<y)
print(x<=y)
print(x==y)
print(x!=y)

True
True
False
False
False
True

In [9]:
#9-Logical opeartions

# examples: and, or, not, xor, etc.
# logical expression can be written using boolean expressions and logical operators
# the result from the logical expression is a boolean value.
# example
#declare 3 variables

x, y, z= 2, 3, 4

print(x<y and y<z)
print(x<y or y>7)
print(not z>y)

True
True
False

In [14]:
# 10-if statement

#it can be used to make decisions in our program
#let's say that you will pass the exam if you got more than or eual to 60 degrees
# let's define a variable called your degree

your_degree=50

#let's see if you will pass the exam or not

if your_degree>=60:
  print("you have passed the exam")
  print("congratulation")




# to make the deciaion, i can write if statement. it consits of keyword if followd by comparison/logical expression followd by colon.
#then, i can write one or multiple statements to execute if the condition is true
# all the statements that have the same indentation are belonging to the body/block of the if statemet, i.e., they will be executed if the condition is true

# we can have if-else version as follows

In [15]:
#11- we can have the if, else-if,....., else version as follows

your_degree=52

if your_degree>=60:
  print("you have passed the exam")
  print("congratulation")
else:
  print(" you failed the exam")

 you failed the exam

In [16]:
#In case, we want to test multiple conditions

your_degree=52

if your_degree>=90:
  print("your grade is A")
elif your_degree>=80:
  print("your grade is B")
elif your_degree>=70:
  print("your grade is C")
elif your_degree>=60:
  print("your grade is D")
else:
  print("you failed")

you failed

In [ ]:
#Loops
#loops can be used if we want to execute a block of code multiple times
#there are 2 types of loops: while and for loops

In [18]:
#12- while loop: execute a block of code as long as a condition is satisfied

#for example suppose that we want to print numbers from 1 to 5


counter=1
while counter<=5:
  print(counter)
  counter=counter+1

1
2
3
4
5

In [19]:
#13- for loop: execute a block of code for a predetermined number of times

#for example suppose that we want to print numbers from 1 to 5
#range() is a built-in function that returns a range object that consists of sequence of numbers

for i in range(5):
  print(i+1)

1
2
3
4
5

In [ ]:
#complex data types
#besides the primitive/basic data types, Python supports complex data types such as lists, dictionaries, etc.

In [20]:
#14- Lists
#list data type is simply a list of objects of any data type
#for example, we can have list of number, strings, etc.

numbers=[1, 2, 3, 5]
colors=["red", "green", "blue"]

#we can print the whole list variable or print certain element
print(numbers)
print(numbers[0])
print(numbers[1])
print(numbers[-2])

# #we can use negative index
# print(numbers[-1]) #returns the last element in the list
# print(numbers[-2]) #returns the secod element in the list from the end

[1, 2, 3, 5]
1
2
3

In [21]:
#15- we can change the value of an element/object in the list
#numbers=[1, 2, 3, 5]

numbers[0]=10
print(numbers)

[10, 2, 3, 5]

In [22]:
# 16- we can print ceratin range of elemets
numbers=[1, 2, 3, 5]
print(numbers[1:3])

[2, 3]

In [23]:
#17- a list is an object, and has some built-in methods/functions
#examples

#add element to the end of the list
numbers=[1, 2, 3, 5]
numbers.append(100)
print(numbers)

[1, 2, 3, 5, 100]

In [1]:
#18-add element to any place in the list
numbers=[1, 2, 3, 5]
numbers.insert(0, -2)
print(numbers)

[-2, 1, 2, 3, 5]

In [2]:
#19-delete element from the list
numbers=[1, 2, 3, 5]
numbers.remove(3)
print(numbers)

[1, 2, 5]

In [3]:
#20-you can search for an element in a list
numbers=[1, 2, 3, 5]
print(1 in numbers)
print(200 in numbers)

True
False

In [4]:
#21- you can return the number of elements in a list
numbers=[1, 2, 3, 5]
print(len(numbers))

4

In [5]:
#after introducing lists, let's return to for loops again
#for loop can be used to iterate over a list of objects and execute a block code of code for each object in the list

numbers=[1, 2, 3, 5]
for i in numbers:
  print(i)

# numbers=["red", "blue", "green", "yello"]
# for i in numbers:
#   print(i)

1
2
3
5

In [6]:
#note that we can implement the same code of the previous cell but using while loop

i=0
numbers=[1, 2, 3, 5]
while i<len(numbers):
  print(numbers[i])
  i+=1

1
2
3
5

In [8]:
# for loop examples
for i in range(10):
  print(i)
print("---------------------------------------")
for i in range(2,10):
  print(i)
print("---------------------------------------")
for i in range(0, 10, 2):
  print(i)

0
1
2
3
4
5
6
7
8
9
---------------------------------------
2
3
4
5
6
7
8
9
---------------------------------------
0
2
4
6
8

In [10]:
#22- Functions

# to define function in Python, we wuse the keyword def folloed by the function name followed by pranthesis containing group of parameters followd by colon
#then, we can write the body of the functions. we use indentation to specify the body of the function
#let's define a function to return the sum of two numbers. The final statement can be return statement if the function returns some output

def summation(num1,num2):
  sum=num1+num2
  return sum

In [11]:
#to call a function, use the function name and pass values to the parameters

print(summation(2,3))

5

In [12]:
# we can return multiple outputs from a function
def calculas(num1,num2):
  sum=num1+num2
  differnce=num1-num2
  return sum, differnce

print(calculas(2,3))

# in this case we return tuple, which is another data type in python. Like list, it is a sequense of objects. Unlike list, it defined using pranthesis and cannot be modified after creation

(5, -1)